body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
}

.view-btn {
    border-radius:0;
    padding: 6px 25px;
    font-weight: bold;
}

/* Navigation Bar  */
.navbar {
    padding: 30px 10%;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.nav-item {
    margin: 10px 20px;
    font-weight: 700;
}

.nav-btn {
    margin-right: 0;
}


/* Intro  */
#intro {
    background-color: hsl(270, 9%, 17%);
    color: hsl(0, 0%, 98%);
    position: relative;
}

.bg-right {
    position: absolute;
    right: 0;
    top: -85px;
}

.bg-left {
    position: absolute;
    left: 0;
    bottom: -335px;
}

.bg-mobile-right {
    display: none;
}

.bg-mobile-left {
    display: none;
}

#intro .container-fluid {
    padding: 100px 10%; 
}

#intro hr { 
    width: 150px;
    border-top: 1px solid hsl(0, 0%, 98%);
    margin: 0 0 50px;
}

.intro-heading {
    font-size: 4.5rem;
    max-width:500px;
}

#intro p {
    margin: 20px 0 30px;
    line-height: 2;
}

.intro-img {
    width: 90%;
    position: absolute;
    right: 15px;
}

.intro-img-mobile {
    display: none;
}

/* About  */
#about{
    color: hsl(270, 9%, 17%);
    position: relative;
}

#about .container-fluid {
    padding: 18% 10% 0%; 
}

#about hr { 
    width: 150px;
    border-top: 1px solid hsl(273, 4%, 51%);
    margin: 0 0 50px;
}

.about-heading {
    font-size: 4.5rem;
}

.about-column {
    margin-top: 50px;
}

#about h3 {
    margin: 30px 0 20px;
}

#about p {
    color: hsl(273, 4%, 51%);
}

/* How we work  */
#hww {
    color: hsl(0, 0%, 98%);
    padding: 50px;  
    margin: 100px 10%;
    background-color: hsl(270, 9%, 17%);
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.hww-heading {
    font-size: 3rem;
    width: 424px;
}

.right-center-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Footer  */
#footer {
    background-color: hsl(0, 0%, 98%);
    padding: 100px 9%;
    background-image: url("../images/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
    font-weight: bold;
}

#footer hr {
    border-top: 1px solid hsl(273, 4%, 51%);
}

.column-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.footer-icon {
    color: hsl(273, 4%, 51%);
    margin: 5px 0 5px 20px;
}

.footer-icon:hover {
    color: hsl(270, 9%, 17%);
}

.footer-heading {
    color: hsl(273, 4%, 51%);
    
    margin: 25px 0;
}

.footer-anchor {
    display: block;
    color: hsl(270, 9%, 17%);
}

.footer-anchor:hover {
    color: hsl(270, 9%, 17%);
}

@media(max-width: 991px) {

    /* Navbar  */
    .navbar {
        padding: 30px 0 0;
    }

    .navbar-brand {
        margin: 0 0 30px 10%;
    }

    .navbar-toggler {
        margin: 0 10% 30px 0;
    }

    .navbar-nav {
        padding-bottom: 100px;
    }

    .nav-link {
        color: hsl(0, 0%, 98%);
        text-align: center;
    }

    .nav-btn {
        text-align: center;
        margin-left: 0;
    }

    /* Intro  */
    #intro {
        text-align: center;
    }

    #intro hr { 
        margin: 0 auto 50px;
    }
    
    .intro-heading {
        width: 100%;
        margin: 0 auto;
    }
    
    .intro-img {
        position: relative;
        display: block;
        margin: 10% auto 0;
        width: 100%;
        right: 0;
    }


    /* About */
    #about{
        text-align: center;
    }

    #about .container-fluid {
        padding: 100px 10% 50px; 
    }

    #about hr { 
        width: 150px;
        border-top: 1px solid hsl(273, 4%, 51%);
        margin: 0 auto 50px;
    }

    .about-column {
        padding: 0 10%;
    }

    /* How we work */
    #hww {
        background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    }

    .hww-heading {
        width: 100%;
        text-align: center;
    }

    .right-center-btn {
        justify-content: center;
        margin-top: 30px;
    }

    /* Footer */
    .footer-logo{
        display: block;
        margin: 0 auto 20px;
    }
    
    .column-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media(max-width: 767px) {
    /* Navbar */
    .navbar-nav {
        background-color: hsl(270, 9%, 17%);
    }

    .navbar-light .navbar-nav .nav-link {
        color: hsl(273, 4%, 51%);
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: hsl(0, 0%, 98%);
    }

    .nav-btn .btn {
        border-color: hsl(0, 0%, 98%);
        color: hsl(0, 0%, 98%);
    }

    .nav-btn .btn:hover {
        background-color: hsl(0, 0%, 98%);
        color: hsl(270, 9%, 17%);
    }


    /* Intro  */
    #intro .container-fluid {
        padding: 0 10% 100px; 
    }

    .intro-text-column {
        position: relative;
    }

    #intro hr { 
        display: none;
    }
    
    .intro-heading {
        font-size: 3rem;
        margin-top:100px;
    }

    .intro-img {
        display: none;
    }
    
    .intro-img-mobile {
        display: block;
        width: 100%;
        margin: 0 auto;
        
    }

    .bg-right {
        display: none;
    }
    
    .bg-left {
        display: none;
    }
    
    .bg-mobile-right {
        display: inline-block;
        position: absolute;
        right:0;
        bottom: -175px;
    }
    
    .bg-mobile-left {
        display: inline-block;
        position: absolute;
        left: -10%;
        top: 0;
    }

    /* About */
    .about-heading {
        font-size: 3rem;
    }

    .about-column {
        padding: 0 3%;
    }

    /* HWW  */
    #hww {
        padding: 50px 30px;  
    }
    .hww-heading {
        font-size: 2.2rem;
    }

    /* Footer */
    #footer {
        text-align: center;
    } 
}

@media(max-width:480px) { /*479px */
    .intro-text-column {
        padding:0 10% 100px;
    }

    #intro .container-fluid {
        padding: 0% 0% 0%;
    }

    .intro-img-mobile {
        padding: 0;
    }

    .bg-mobile-left {
        left: 0%;
        top: 0;
    }
}

@media(max-width: 375px) {
    .navbar-nav {
        padding: 30px 0 0;
        height: calc(100vh - 100px);
        overflow: hidden;
        background-image: url("../images/bg-pattern-mobile-nav.svg");
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .bg-mobile-left {
        bottom: 455px;
    }

    #footer {
        background-image: url("../images/bg-pattern-footer-mobile.svg");
    }
}